/* 
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Regular.eot?raw=true');
    src: url('https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Regular.eot?raw=true#iefix') format('embedded-opentype'), url('https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Regular.woff2?raw=true') format('woff2'), url('https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Regular.woff?raw=true') format('woff'), url('https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Regular.ttf?raw=true') format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Bold.eot?raw=true);
    src: url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Bold.eot?raw=true#iefix) format('embedded-opentype'), url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Bold.woff2?raw=true) format('woff2'), url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Bold.woff?raw=true) format('woff'), url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-Bold.ttf?raw=true) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-ExtraBold.eot?raw=true);
    src: url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-ExtraBold.eot?raw=true#iefix) format('embedded-opentype'), url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-ExtraBold.woff2?raw=true) format('woff2'), url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-ExtraBold.woff?raw=true) format('woff'), url(https://cdn.rawgit.com/Fil-Zhaoxie/NanumGothic/master/fonts/NanumGothic-ExtraBold.ttf?raw=true) format('truetype');
}

